<html th:replace="~{email/layout :: layout(~{::tr})}">
<body>
<table>
    <tr>
        <p style="line-height: 30px; font-size: 16px">
            Click the button below<br/>
            to reset your password
        </p>
        <a style="display: inline-block; margin-top: 10px; background: #8a1ed2; color: #dde2ec !important; padding: 10px 20px; width: 120px; border-radius: 8px; font-size: 13px; font-weight: 600; cursor: pointer; text-decoration: none !important;" th:href="${resetUrl}">
            touch me
        </a>
    </tr>
</table>
</body>
</html>