{{#partial "body"}}
<div class="drawer drawer-mobile">
    <ul id="contextMenu" class="menu bg-base-100 w-56 hidden absolute z-10">
        <li id="replyButton"><a href="#">Reply</a></li>
    </ul>
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>

    <div class="drawer-content flex flex-col p-2">

        <div class="messages-container-wrapper flex-1 min-h-0 overflow-auto py-2">

            <div class="messages-container flex flex-col justify-end min-h-full">
            </div>
        </div>
        <div id="repliedMessage" class="alert shadow-lg hidden">
            <div id="repliedMessageSection">
                <svg class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                </svg>
                <span></span>
            </div>
        </div>
        <form>
            <input class="input input-bordered input-primary w-full" id="message-input" type="text"
                   placeholder="type something..." autocomplete="off">
        </form>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>
        <div class="bg-base-200">
            <h2 class="text-2xl max-h-8 text-center pt-2">Users</h2>
            <ul id="user-list" class="menu p-4 w-80  text-base-content">
            </ul>
        </div>
    </div>
</div>


<script>
    const repliedMessage = document.querySelector("#repliedMessage");
    const contextMenu = document.querySelector("#contextMenu");
    const drawer = document.querySelector(".drawer");
    const userList = document.querySelector("#user-list");
    const messagesContainer = document.querySelector(".messages-container");
    const messageInput = document.querySelector("#message-input");
    const messagesContainerWrapper = document.querySelector(".messages-container-wrapper");
    const MESSAGES_COLORS = [
        'bg-primary',
        'bg-primary-focus',
        'bg-secondary',
        'bg-secondary-focus',
    ];
    let users = [];
    let messageId;
    let repliedMessageText;

    document.addEventListener('click', (e) => {
        contextMenu.classList.add("hidden");
    })

    function showCustomContextMenu(message, id, event) {
        contextMenu.classList.remove("hidden");
        messageId = id;
        repliedMessageText = message;
        contextMenu.style.left = event.pageX + "px";
        contextMenu.style.top = event.pageY + "px";
        event.preventDefault();
    }

    function hideCustomContextMenu() {
        contextMenu.classList.add("hidden");
    }

    drawer.addEventListener('contextmenu', (e) => {
        if (e.target.classList.contains('.chat-bubble') ||
            // ??
            e.target.closest('.chat-bubble') !== null) {
            contextMenu.classList.remove("hidden");
        } else {
            contextMenu.classList.add("hidden");
        }
    });

    function addRepliedMessageSection() {
        document.querySelector("#replyButton").addEventListener('click', () => {
            repliedMessage.classList.remove("hidden");
            document.querySelector("#repliedMessageSection span").innerHTML = repliedMessageText;

        });
    }


    function displayUsers() {
        let userListHtml = "";
        for (const user of users) {
            const online = Date.now() - user.lastActivityAt < 30000;
            userListHtml += `
                 <li class="border rounded-xl mb-2 ${online ? 'border-primary' : 'border-gray-400'}">
                    <a class="flex justify-between">
                       <strong>${user.username}</strong>
                       <i class="w-3 h-3 rounded-full ${online ? 'bg-primary' : 'bg-gray-400'}"></i>
                    </a>
                 </li>
                `;
        }
        userList.innerHTML = userListHtml;
    }

    setInterval(displayUsers, 1000);

    function randomMessageColor() {
        return MESSAGES_COLORS[Math.floor(Math.random() * MESSAGES_COLORS.length)]
    }

    fetch("/api/users")
        .then(r => r.json())
        .then(r => {
            users = r.users;
            displayUsers();
        });
    document.querySelector('form').addEventListener("submit", function (event) {
        event.preventDefault();
        const message = messageInput.value;
        if (!message) {
            return;
        }
        if (repliedMessage.classList.contains("hidden")) {
            fetch("/api/messages", {
                method: "POST",
                body: JSON.stringify({message: message})
            });
        } else {
            fetch("/api/messages", {
                method: "POST",
                body: JSON.stringify({message: message, repliedMessageId: messageId})
            });
            repliedMessage.classList.add("hidden");
        }
        messageInput.value = "";
    });
    let ts = 0;

    function poll() {
        fetch(`/api/events?ts=${ts}`)
            .then(r => r.json())
            .then(r => {
                for (const event of r.events) {
                    if (ts < event.date) {
                        ts = event.date;
                    }
                    switch (event.type) {
                        case "NEW_MESSAGE":
                            const message = event.message;
                            const repliedMessage = message.repliedMessage;
                            let repliedMessageHTML = "";
                            if (message.repliedMessage) {
                                repliedMessageHTML = `
                                <div class="w-auto bg-black bg-opacity-25 rounded-md p-4">
                                        <div>
                                          <div class=" font-semibold text-sm"> ${repliedMessage.username} </div>
                                          <div class="text-sm">  ${repliedMessage.message}</div>
                                       </div>
                                </div>
                                `
                            }
                            addRepliedMessageSection();
                            messagesContainer.innerHTML += `
                                <div class="chat chat-start">
                                  <div class="chat-header font-bold mb-1 ">${message.username}</div>
                                  <div oncontextmenu="showCustomContextMenu('${message.message}','${message.id}', event)"
                                      onclick="hideCustomContextMenu()"
                                      class="chat-bubble w-auto ${randomMessageColor()}">
                                    ${repliedMessageHTML}
                                    ${message.message}
                                  </div>
                                </div>
                            `;


                            break;


                        case "USER_ACTIVITY":
                            const user = users.find(u => u.username === event.username);
                            if (user) {
                                user.lastActivityAt = event.date;
                            } else {
                                users = [{
                                    username: event.username,
                                    lastActivityAt: event.date
                                }, ...users];
                            }
                            break;

                    }

                }
                requestAnimationFrame(() => messagesContainerWrapper.scrollTo({
                    top: messagesContainerWrapper.scrollHeight,
                    behavior: 'smooth'
                }))
                poll();
            })
    }

    poll();
</script>
{{/partial}}
{{> base}}