{{#partial "styles"}}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding-bottom: 300px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        min-width: 470px;
    }

</style>
{{/partial}}

{{#partial "body"}}
<form method="post" class="login-form text-center">
    <h1 class="h3 pb-5 fw-normal">Please sign in</h1>
    <div class="form-floating">
        <input class="form-control {{#if error}}is-invalid{{/if}}" id="username" type="text" name="username"
               value="{{username}}" placeholder="username">
        <label for="username">username</label>
    </div>
    <div class="form-floating">
        <input class="form-control mt-1 {{#if error}}is-invalid{{/if}}" id="password" type="password" name="password"
               placeholder="password">
        <label for="password">password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign in</button>
    <a href="/registration" class="text-body mt-3">Create an account</a>
</form>
{{/partial}}
{{> base}}