{{#partial "body"}}
<main class="flex justify-center items-center h-screen flex-col">
    <h1 class="text-3xl mb-10">Please sign up</h1>
    <form method="post" class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
            <div class="form-control">
                <label class="label" for="username">
                    <span class="label-text">username</span>
                </label>
                <input class="input input-bordered {{#if error}}input-error{{/if}}" type="text"
                       id="username"
                       name="username" value="{{username}}">
            </div>
            <div class="form-control">
                <label class="label" for="password">
                    <span class="label-text">password</span>
                </label>
                <input class="input input-bordered {{#if error}}input-error{{/if}}" type="password"
                       id="password"
                       name="password">
            </div>
            <div class="form-control">
                <label class="label" for="repeat-password">
                    <span class="label-text">repeat password</span>
                </label>
                <input class="input input-bordered {{#if error}}input-error{{/if}}" type="password"
                       id="repeat-password">
            </div>
            <span id="error-text" class="text-error">{{error}}</span>
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>
</main>
<script>
    function submit(event) {
        const password = document.querySelector('input[name="password"]').value;
        const repeatPassword = document.querySelector('#repeat-password').value;
        if (password !== repeatPassword) {
            event.preventDefault();
            document.querySelector('#error-text').innerText = "passwords don't match";
            document.querySelectorAll('.form-control input[type="password"]').forEach(function (elem){
                elem.classList.add('input-error')
            })
        }
    }

    document.querySelector("form").addEventListener("submit", submit)
    const inputs = document.querySelectorAll("input")
    for (const input of inputs) {
        input.addEventListener("input", function () {
            document.querySelector('#error-text').innerText = "";
            document.querySelectorAll('.form-control input').forEach(function (elem) {
                elem.classList.remove('input-error')
            })
        })
    }
</script>
{{/partial}}
{{> base}}