{{#partial "body"}}
<main class="flex justify-center items-center h-screen flex-col">
    <h1 class="text-3xl mb-10">Enter verification code</h1>
    <h1 class="text-base mb-10">We've just emailed you to THIS ADDRESS with your verification code. Please, check your
        email inbox</h1>
    <form method="post" class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body">
            <div class="form-control">
                <div id="otp" class="flex flex-row justify-center text-center px-2 mt-5">
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="first"
                           maxlength="1"/>
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="second"
                           maxlength="1"/>
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="third"
                           maxlength="1"/>
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fourth"
                           maxlength="1"/>
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="fifth"
                           maxlength="1"/>
                    <input class="m-2 border h-10 w-10 text-center form-control rounded" type="text" id="sixth"
                           maxlength="1"/>
                </div>
            </div>
        </div>
    </form>
</main>
<script>
    let inputs;

    document.addEventListener("DOMContentLoaded", function (event) {
        function OTPInput() {
             inputs = document.querySelectorAll('#otp > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        inputs[i].value = '';
                        if (i !== 0) inputs[i - 1].focus();
                    } else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        } else if (event.keyCode > 47 && event.keyCode < 58) {
                            inputs[i].value = event.key;
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        } else if (event.keyCode > 64 && event.keyCode < 91) {
                            inputs[i].value = String.fromCharCode(event.keyCode);
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                });
            }
        }
        OTPInput();
        fetch("/verification", {
            method: "POST",
            body: JSON.stringify(inputs)
        });


    });
</script>
{{/partial}}
{{> base}}